.game{
    background-image: url(../img/bgGame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position:fixed;
    font-family: 'Dangrek', cursive;
    font-weight: bold;
}
.row.text-center.md-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnGame{
    width: 200px;
    height: 200px;
    font-size:50px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Dangrek', cursive;
    background-color: rgb(0, 255, 98);
    border-radius: 1px solid rgb(225, 255, 0);
    transition: transform .5s;
    cursor: pointer;
}
.btnGame:hover{
    transform: scale(1.1);
}
.result{
    font-size:30px;
    font-weight: bold;
}
span{
    color:rgb(224, 27, 5)
}
.btnPlay{
    width: 240;
    height:50px;
    font-size:30px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Dangrek', cursive;
    background-color: rgb(33, 11, 194);
    transition: 1s;
    border-radius:  5px solid transparent;
    /* box-shadow: 6px 6px 0 black; */
    transform: skewX(-10deg);
    cursor: pointer;
}
.btnPlay:hover{
    opacity: 1;
    transform: scale(1,1);
    background-color:rgb(255, 0, 0)
}